body{
    display: flex;
    margin: 0;
    flex-direction: column;
}
header{
    text-align: center;
    background-color: pink;
    color: aliceblue;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    text-align: center;
    border: 1px dashed red;
    color: blue;
    padding: 5px;
 
}
aside{
    width: 250px;
    border: 1px solid black;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align: center;
    background-color: pink;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
main{
    display: flex;
}
section{
    padding: 10px;
    color: blue;
}
article{
    color: black;
}
li{
    color: rgb(83, 121, 208)
}
img{
    width: 800px;
    height: 500px;
    text-align: center;
}
p{
    color: black;
}
figcaption{
    text-align: center;
    color: blue;
}
figure{
      text-align: center;
   
}